.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  padding: 28px 0 24px 0;
  min-width: 320px;
}

body, html {
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 320px) {
  .page {
    padding: 16px 0 24px 0;

  }
}