.lead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 148px;
  justify-content: center;
}


@media screen and (max-width: 1024px) {
  .lead {
    padding: 0 48px;
    width: calc(100vw - ((max( 100vw , 768px ) - 768px) * (96 / 256)));
  }
}

/* 
1200px макс ширина экрана, поля 98px
900px - разрешение,  при котором поля = 0
196px это размер всех отступов
1200 - 900 = 300 px это изменение разрешения, при котором пропадают поля.
(196/300) - коэффициент изменения размера полей при изменении разрешения на один пиксель
(100vw - 900px) * коэф - получим размер полей для текущего разрешения
(100vw - 900px) * (196 / 300) - искомый размер полей.

max( 100vw , 900px ) - не даст получить отрицательную разность


1024px макс ширина экрана, поля 96px
768px - разрешение,  при котором поля = 0
96px это размер всех отступов
1024 - 768 = 256 px это изменение разрешения, при котором пропадают поля.
(96/256) - коэффициент изменения размера полей при изменении разрешения на один пиксель
(100vw - 768px) * коэф - получим размер полей для текущего разрешения
(100vw - 768px) * (96 / 256) - искомый размер полей.

max( 100vw , 768px ) - не даст получить отрицательную разность

 width: calc(100vw - ((max( 100vw , 768px ) - 768px) * (96 / 256)));