.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 48px;
  column-gap: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 970px) {
  .place {
    max-width: 800px;
  }
}

@media screen and (max-width: 840px) {
  .place {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  }
}

@media screen and (max-width: 595px) {
  .place {
    max-width: 288px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .place {
    row-gap: 32px;
  }
}
